<div>
  <% if (hasBackPage) { %>
  <a href="?page=<%= backPage %>">
    <button class="btn">
      <i class="bi bi-arrow-left"></i>
    </button>
  </a>
  <% } %>
  <a href="/">
    <button class="btn">
      <i class="bi bi-house"></i>
    </button>
  </a>
  <% if (hasNextPage) { %>
  <a href="?page=<%= nextPage %>">
    <button class="btn">
      <i class="bi bi-arrow-right"></i>
    </button>
  </a>
  <% } %>
</div>
