<div>
  <button class="btn"><i class="bi bi-arrow-left"></i></button>
  <button class="btn"><i class="bi bi-house"></i></button>
  <button class="btn"><i class="bi bi-arrow-right"></i></button>
</div>
