<%- include('./includes/head.ejs') %>
  <body>
    <div class="wrapper">
      <h1>Coś poszło nie tak ;( pracujemy nad tym...</h1>
      <a href="/" class="btn">Powrót do strony głównej</a>
    </div>
  </body>
</html>
