<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
  </head>
  <body>
    <h1>Lista rzeczy do zrobienia</h1>
    <form action="/task/edit" method="post">
      <input type="text" name="taskname" id="taskname" />
      <button type="submit">Edytuj</button>
      <a href="/">Anuluj</a>
    </form>
    <% if (tasks.length > 0) { %> <% for (let task of tasks) { %>
    <div><%= task.name %> <a href="/task/edit/<%= task._id %>">Edytuj</a></div>
    <% } %> <% } %>
  </body>
</html>
