<%- include('./includes/head.ejs') %>
  <body>
    <div class="wrapper">
    <h1>Lista rzeczy do zrobienia</h1>
    <form action="/task/create" method="post">
      <input type="text" name="taskname" id="taskname"/>
      <button type="submit" class="btn task_btn_add">Dodaj</button>
    </form>
    <% if (tasks.length > 0) { %> <% for (let task of tasks) { %>
    <div class="item_task">
      <div class="item_task_name"><%= task.name %></div>
      <form action="/task/delete" method="post" class="item_task_form">
        <a href="/task/edit/<%= task._id %>" class="btn">Edytuj</a>
        <input type="hidden" name="taskID" value="<%= task._id %>" />
        <button type="submit" class="btn">Usuń</button>
      </form>
    </div>
    <% } %> <% } %>
  </div>
  </body>
</html>
